@font-face{
  font-family: 'Oswald';
  font-style: normal;
  color: white;
  src: url('./Oswald-VariableFont_wght.ttf');
}

@font-face{
  font-family: 'Fira';
  font-style: normal;
  color: white;
  src: url('./FiraSans-Regular.ttf');
}

*{
  box-sizing: border-box;
  /* outline: solid coral; */
}

body{
font-family: 'Oswald';
background-color: rgba(0, 0, 0, 0); margin: 0px auto; overflow: hidden; 
}

#TeamNameLinks{
  position:absolute;
  font-size: 61px;
  font-weight: 700;
  text-transform: uppercase;
  color: #E9E0CD;
  top: 907px;
  left:570px;
  width: 350px;
  height: 1.5em;
  text-align: center;
  vertical-align: middle;
  overflow:hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

#TeamNameRechts{
  position:absolute;
  font-size: 61px;
  font-weight: 700;
  text-transform: uppercase;
  color: #E9E0CD;
  top: 907px;
  right:570px;
  width: 350px;
  height: 1.5em;
  text-align: center;
  vertical-align: middle;
  overflow:hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

#ScoreLineChampSelect{
  position:absolute;
  font-size: 61px;
  font-weight: 700;
  color: #E9E0CD;
  top: 980px;
  width: 1920px;
  height: 1.5em;
  text-align: center;
  vertical-align: middle;
}