@font-face{
  font-family: 'Oswald';
  font-style: normal;
  color: white;
  src: url('./Oswald-VariableFont_wght.ttf');
}

@font-face{
  font-family: 'Fira';
  font-style: normal;
  color: white;
  src: url('./FiraSans-Regular.ttf');
}

*{
  box-sizing: border-box;
  /* outline: solid coral; */
}

body{
font-family: 'Oswald';
background-color: rgba(0, 0, 0, 0); margin: 0px auto; overflow: hidden; 
}

.img{
  position: absolute;
  width: 1920px;
  height: 1080px;
}

#TeamNameLinks{
  position:absolute;
  font-size: 30px;
  font-weight: 700;
  text-transform: uppercase;
  color: #FFFFFF;
  top:12px;
  right:1365px;
  width: 500px;
  height: 1.5em;
  text-align: right;
  vertical-align: middle;
  overflow:hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

#TeamNameRechts{
  position:absolute;
  font-size: 30px;
  font-weight: 700;
  text-transform: uppercase;
  color: #FFFFFF;
  top:12px;
  left:1365px;
  width: 500px;
  height: 1.5em;
  text-align: left;
  vertical-align: middle;
  overflow:hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

#TeamScoreRechts{
  position:absolute;
  font-size: 36px;
  font-weight: 700;
  text-transform: uppercase;
  color: #FFFFFF;
  top:8px;
  left:1304px;
  width: 50px;
  height: 1.5em;
  text-align: center;
  vertical-align: middle;
  overflow:hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

#TeamScoreLinks{
  position:absolute;
  font-size: 36px;
  font-weight: 700;
  text-transform: uppercase;
  color: #FFFFFF;
  top:8px;
  right:1304px;
  width: 50px;
  height: 1.5em;
  text-align: center;
  vertical-align: middle;
  overflow:hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}